.results {
  background-color: rgb(9, 27, 29);
  margin: 30px 50px 30px 50px;
  border-radius: 30px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: center;
}
