.title {
  color: #ffe4fc;
  //color:yellow;
  h1 {
    margin: 0;
  }
  h4 {
    padding-left: 100px;
    color: grey;
  }
  img {
    height: 1em;
    width: 1.5em;
  }
  span {
    color: green;
    //color: rgba(3, 55, 51, 1);
    font-size: xxx-large;
    //font-family: cursive;
  }
}
