.title {
  color: beige;
  h1 {
    margin: 0;
  }
  h4 {
    padding-left: 100px;
  }
  img {
    height: 0.7em;
  }
  span {
    color: green;
    font-size: xxx-large;
    font-family: cursive;
  }
}
