.spinner {
  font-size: xxx-large;
  color: rgb(25, 73, 78);
  width: 15%;
  height: 15%;
}
.wrapper {
  width: 100vw;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
