.bar {
  border-radius: 25px;
  border: 3px solid green;
  padding: 5px;
  margin: 20px;
  &_landing {
    width: 100%;
  }
  &_searching {
    min-width: 30%;
  }
  input {
    border: none;
    background-color: none;
    width: calc(100% - 20px);
    outline: none;
    background: none;
    color: beige;

    &:placeholder-shown {
      font-style: italic;
    }
    &:focus,
    &:active {
      background: transparent;
    }
  }
  button {
    border: none;
    background-color: transparent;
  }
}
