.header_landing {
  display: flex;
  flex-direction: column;
  //border: 1px solid green;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.header_searching {
  //border: 1px solid red;
  background: transparent;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}
