.header {
  //border: 1px solid blue;
  // margin: 20px;
  color: beige;
  h1 {
    //border: 1px solid blue;
    margin: 0;
  }
  h4 {
    padding-left: 100px;
  }
  img {
    height: 0.7em;
  }
  span {
    color: green;
    font-size: xxx-large;
    font-family: cursive;
  }
}
