.footer {
  text-align: center;
  padding: 5px;
  color: beige;
  //position: relative;
  //border: 1px solid red;
  bottom: 40px;
  background-color: rgba(3, 55, 51, 1);
  width: calc(100vw);
  font-size: xx-small;
  align-self: flex-end;
}
